 <div class="divContainer">
   <div *ngIf="this.appService.partners===undefined">
      <file-upload ></file-upload>
   </div>
    <div *ngIf="this.appService.partners!==undefined">
       <button (click)="reset()" >Reset Data</button>
       <partners-table></partners-table>
    </div>
 </div>
 