<input matInput #txtVal (keyup)="onKeyUp(txtVal.value)" placeholder="Search">
<table mat-table [dataSource]='tableDataSource' matSort>
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ col }} </mat-header-cell>
        <div *ngIf="col === 'ACTIONS'">
            <mat-cell *matCellDef="let element" [attr.data-label]="col">
                <mat-icon (click)='deleteAction(element)'>delete</mat-icon>
            </mat-cell>
        </div>
        <mat-cell *matCellDef="let element" [attr.data-label]="col">
            <div>
                <label> {{ element[col] }} </label>
                <div *ngIf="!checkIfValid(element,col)">
                    <mat-error>Invalid</mat-error>
                </div>
            </div>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="[20,30]" showFirstLastButtons></mat-paginator>
<button (click)="uploadData()">Upload Data</button>