
@media screen and (max-width: 600px) {
    .mat-table {
      border: 0;
      vertical-align: middle

    }
    .mat-table caption {
      font-size: 1em;
      width: 200px;
    }
    .mat-table .mat-row {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      height:30px;
      margin-bottom: 1%;
      margin-left: 3%;
      margin-right: 3%;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal; 
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 2%;
    }
  }

  @media screen and (min-width: 600px) {
    .mat-table {
      width: 600px;
    }
  }
